*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: rgb(238, 250, 250);
    align-items: center;

}
.icon{
    position: relative;
    height: 50px;
}
.icon>img{
    position: absolute;
    top: -30px;
    height: 250%;
}
.login_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login_page>a{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.link{
    overflow :  hidden; 
    position : relative; 
    transition : .2s transform ease-in-out;
    will-change : transform ;
    z-index : 0;
  }
    .link::after{
        background-color :rgb(174, 235, 234);
        content : '';
        display : block;
        height :100%;
        width :100%;
        position: absolute;
      left :0;
      top: 0;
      transform : translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition :.2s transform ease-out;
      will-change: transform;
      z-index :-1;
  }
  .link:hover{
      color: white !important;
  }
      
      .link:hover::after{
          transform :translate(0, 0);
      }
      
  .content{
      padding: 0px 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;
  }
  .content_text>h1{
      font-size: 40px;
      margin-bottom: 50px;
  }
  .content_text>p{
      width: 500px;
  }
  .content_image>img{
      height: 500px;
      width: 500px;
      object-fit: contain;
  }
  span{
      color: rgb(36, 164, 214);
  }
  
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  margin-left: 20px;
  padding: 10px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-29>input{
    padding: 0px;
}